@using NauAnUtLanh.Database
@{
    ViewBag.Title = "Trang chủ";
    var db = new NauAnUtLanhDbContext();
    var info = db.DefaultInfos.Find(Guid.Empty);
    ViewBag.MetaTitle = info?.CompanyName;
    ViewBag.MetaDescription = info?.MetaDescription;
    ViewBag.MetaKeywords = info?.MetaKeywords;
    ViewBag.MetaImage = info?.MetaImage;
}

<div id="banners"></div>

<div ></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("showbanners","banner")',
                dataType: "html",
                success: function (partialView) {
                    $("#banners").html(partialView);
                    $("#banners").css("display", "block");
                },
                error: function (ex) {
                    //alert("Cann't show popup: " + ex);
                }
            });
        })
    </script>
}