@using NauAnUtLanh.Database
@model IEnumerable<NauAnUtLanh.Dashboard.Models.FoodViewModel>  

@{
    var db = new NauAnUtLanhDbContext();
    foreach (var food in Model)
    {
        var category = db.Categories.Find(food.CategoryId);
        <ul>
            <li class="text-success">
                <a href="#" onclick="return addFood('@food.Id')">
                    @($"{category?.CategoryName} / {food.FoodType} / {food.FoodName}")
                </a>
                
            </li>
        </ul>
    }
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        
    </script>*@
}