@model NauAnUtLanh.FrontEnd.Models.ImageGallery

@{
    var imgNameList = Model.ImageNameList;
    foreach (var img in imgNameList)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="@Url.Content($"~/upload/album/{Model.FolderName}/{img}")" data-lightbox="roadtrip">
                <img class="thumbnail img-responsive my-thumbnail" src="@Url.Content($"~/upload/album/{Model.FolderName}/{img}")" alt="@img">
            </a>
        </div>
    }
}