@using NauAnUtLanh.Database
@model PhotoAlbum
@{
    ViewBag.Title = Model.AlbumName;
    var db = new NauAnUtLanhDbContext();
    var info = db.DefaultInfos.Find(Guid.Empty);
    ViewBag.MetaTitle = info?.CompanyName;
    ViewBag.MetaDescription = info?.MetaDescription;
    ViewBag.MetaKeywords = info?.MetaKeywords;
    ViewBag.MetaImage = Url.Content($"~/upload/{info?.MetaImage}");
}

<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr/>
        <div id="img-gallery"></div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                data: { id: '@Model.Id' },
                url: '@Url.Action("PhotosByAlbum")',
                dataType: "html",
                success: function(partialView) {
                    $("#img-gallery").html(partialView);
                    $("#img-gallery").css("display", "block");
                },
                error: function(ex) {
                    //alert("Cann't show popup: " + ex);
                }
            });
        });
    </script>
}
