.logo {
    height: 80px;
}

.thumbnail {
    height: 350px !important;
}

.my-img-thumbnail {
    height: 220px !important;
}

.caption {
    height: 100px !important;
}

.thumbnail .caption {
    color: #007acc !important;
}

.my-thumbnail {
    height: 350px;
    margin: 5px;
    padding: 10px 0 10px;
}

.my-small-thumbnail {
    height: 200px;
    padding: 10px 0 10px;
    margin: 5px;
}

.category-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.menu-food-logo {
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 20px;
    height: 50px;
}

@media(max-width:800px) {
    #carousel-example-generic {
        display: none;
    }
}

@media(max-width:420px) {
    .my-thumbnail {
        height: 350px !important;
        width: 400px !important;
        margin: 5px;
    }
    .menu-grids-info {
        height: 400px !important;
        width: 95% !important;
        padding: 10px 0 !important;
    }
    .my-small-thumbnail {
        height: 200px;
        width: 95%;
        padding: 10px 0 10px;
        margin: 5px;
    }
}